In [1]:
# Dependencies and Setup
import pandas as pd
import locale

locale.setlocale( locale.LC_ALL, '' )

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# print('school')
# print(school_data.head())
# print('student')
# print(student_data.head())

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name"])
# print('merged')
# print(school_data_complete.head())

# Separate out Charter and District
district_group = school_data_complete.loc[school_data_complete['type'] == 'District']
charter_group = school_data_complete.loc[school_data_complete['type'] == 'Charter']
# print('district')
# print(district_group.head())
# print('charter')
# print(charter_group.head())

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Calculate the total number of schools
# Calculate the total number of students
# Calculate the total budget
# Calculate the average math score
# Calculate the average reading score
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
# Calculate the percentage of students with a passing math score (70 or greater)
# Calculate the percentage of students with a passing reading score (70 or greater)
# Create a dataframe to hold the above results
# Optional: give the displayed data cleaner formatting
def statistics(type_df, name, df):
    
    # Calculate the total number of schools
    num_schools = df['school_name'].nunique()
    #print(f"There are {num_schools} schools.")
    #num_schools_size = df['school_name'].size
    #print(f"There are {num_schools} rows.")

    # Calculate the total number of students
    num_students = df['student_name'].size
    #print(f"There are {num_students} students.")

    # Calculate the total budget
    #print(name)
    budget_df = type_df['budget'].sum()
    # print(budget_df)
    budget = budget_df[name]
    #print(f"budget is {locale.currency(budget)}")
    
    # Calculate the average math score
    math_score = df['math_score'].mean() 
    #print(f"The average math score is {math_score}.")

    # Calculate the average reading score
    reading_score = df['reading_score'].mean()
    #print(f"The average reading score is {reading_score}.")

    # Calculate the overall passing rate (overall average score)
    passing_score = (math_score + reading_score)/2
    #print(f"The average passing score is {passing_score}.")

    # Calculate the percentage of students with a passing math score (70 or greater)
    passing_math_num = (df['math_score'] >= 70).sum()
    passing_math_avg = passing_math_num / num_students
    #print(f"Passing math average is {passing_math_avg}.")

    # Calculate the percentage of students with a passing reading score (70 or greater)
    passing_read_num = (df['reading_score'] >= 70).sum()
    passing_read_avg = passing_read_num / num_students
    #print(f"Passing reading average is {passing_read_avg}.")

    # TODO:
    # Create a dataframe to hold the above results
    results = pd.DataFrame([{'Type' : name,
                'Number of Schools' : num_schools,
                'Number of Students' : num_students,
                'Budget' : budget,
                'Average Math Score' : math_score,
                'Average Reading Score' : reading_score,
                'Overall Passing Average' : passing_score,
                'Passing Math Average' : passing_math_avg,
                'Passing Reading Average' : passing_read_avg}])
    
    #print(results)
    
    # Use Map to format all the columns
    results["Budget"] = results["Budget"].map("${:,.0f}".format)
    results["Average Math Score"] = results["Average Math Score"].map("{:.2f}%".format)
    results["Average Reading Score"] = results["Average Reading Score"].map("{:.2f}%".format)
    results["Overall Passing Average"] = results["Overall Passing Average"].map("{:.2f}%".format)
    results["Passing Math Average"] = results["Passing Math Average"].map("{:.2f}%".format)
    results["Passing Reading Average"] = results["Passing Reading Average"].map("{:.2f}%".format)
    
    # order the columns
    results = results[['Type',
                       'Number of Schools',
                       'Number of Students',
                       'Budget',
                       'Average Math Score',
                       'Average Reading Score',
                       'Overall Passing Average',
                       'Passing Math Average',
                       'Passing Reading Average']]
    
    #print()

    #print(name)
#     results
    #print(results)
    
    return results

In [3]:
# District

type_df = school_data.groupby(['type'])

dist_stats_df = statistics(type_df, 'District', district_group)
#print(dist_stats_df)

ch_stats_df = statistics(type_df, 'Charter', charter_group)
#print(ch_stats_df)

stats_df = pd.concat([dist_stats_df, ch_stats_df], ignore_index=True)
stats_df

,Type,Number of Schools,Number of Students,Budget,Average Math Score,Average Reading Score,Overall Passing Average,Passing Math Average,Passing Reading Average
0,District,7,26976,"$17,347,923",76.99%,80.96%,78.97%,0.67%,0.81%
1,Charter,8,12194,"$7,301,505",83.41%,83.90%,83.65%,0.94%,0.97%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [4]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [5]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.