In [1]:
# Dependencies and Setup
import pandas as pd
import locale

locale.setlocale( locale.LC_ALL, '' )

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# print('school')
# print(school_data.head())
# print('student')
# print(student_data.head())

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name"])
# print('merged')
# print(school_data_complete.head())

# Separate out Charter and District
district_group = school_data_complete.loc[school_data_complete['type'] == 'District']
charter_group = school_data_complete.loc[school_data_complete['type'] == 'Charter']
# print('district')
# print(district_group.head())
# print('charter')
# print(charter_group.head())

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Calculate the total number of schools
# Calculate the total number of students
# Calculate the total budget
# Calculate the average math score
# Calculate the average reading score
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
# Calculate the percentage of students with a passing math score (70 or greater)
# Calculate the percentage of students with a passing reading score (70 or greater)
# Create a dataframe to hold the above results
# Optional: give the displayed data cleaner formatting
def type_statistics(type_df, name, df):
    
    # Calculate the total number of schools
    num_schools = df['school_name'].nunique()
    #print(f"There are {num_schools} schools.")
    #num_schools_size = df['school_name'].size
    #print(f"There are {num_schools} rows.")

    # Calculate the total number of students
    num_students = df['student_name'].size
    #print(f"There are {num_students} students.")

    # Calculate the total budget
    #print(name)
    budget_df = type_df['budget'].sum()
    # print(budget_df)
    budget = budget_df[name]
    #print(f"budget is {locale.currency(budget)}")
    
    # Calculate the average math score
    math_score = df['math_score'].mean() 
    #print(f"The average math score is {math_score}.")

    # Calculate the average reading score
    reading_score = df['reading_score'].mean()
    #print(f"The average reading score is {reading_score}.")

    # Calculate the overall passing rate (overall average score)
    passing_score = (math_score + reading_score)/2
    #print(f"The average passing score is {passing_score}.")

    # Calculate the percentage of students with a passing math score (70 or greater)
    passing_math_num = (df['math_score'] >= 70).sum()
    passing_math_avg = passing_math_num / num_students * 100
    #print(f"Passing math average is {passing_math_avg}.")

    # Calculate the percentage of students with a passing reading score (70 or greater)
    passing_read_num = (df['reading_score'] >= 70).sum()
    passing_read_avg = passing_read_num / num_students * 100
    #print(f"Passing reading average is {passing_read_avg}.")

    # TODO:
    # Create a dataframe to hold the above results
    results = pd.DataFrame([{'Type' : name,
                'Number of Schools' : num_schools,
                'Number of Students' : num_students,
                'Budget' : budget,
                'Average Math Score' : math_score,
                'Average Reading Score' : reading_score,
                'Overall Passing Average' : passing_score,
                'Passing Math Average' : passing_math_avg,
                'Passing Reading Average' : passing_read_avg}])
    
    # order the columns
    results = results[['Type',
                       'Number of Schools',
                       'Number of Students',
                       'Budget',
                       'Average Math Score',
                       'Average Reading Score',
                       'Overall Passing Average',
                       'Passing Math Average',
                       'Passing Reading Average']]
    
    #print()

    #print(name)
#     results
    #print(results)
    
    return results

In [3]:
# District

type_df = school_data.groupby(['type'])

dist_stats_df = type_statistics(type_df, 'District', district_group)
#print(dist_stats_df)

ch_stats_df = type_statistics(type_df, 'Charter', charter_group)
#print(ch_stats_df)

stats_df = pd.concat([dist_stats_df, ch_stats_df], ignore_index=True)

# Use Map to format all the columns
stats_df["Budget"] = stats_df["Budget"].map("${:,.0f}".format)
stats_df["Average Math Score"] = stats_df["Average Math Score"].map("{:.2f}%".format)
stats_df["Average Reading Score"] = stats_df["Average Reading Score"].map("{:.2f}%".format)
stats_df["Overall Passing Average"] = stats_df["Overall Passing Average"].map("{:.2f}%".format)
stats_df["Passing Math Average"] = stats_df["Passing Math Average"].map("{:.2f}%".format)
stats_df["Passing Reading Average"] = stats_df["Passing Reading Average"].map("{:.2f}%".format)

stats_df

,Type,Number of Schools,Number of Students,Budget,Average Math Score,Average Reading Score,Overall Passing Average,Passing Math Average,Passing Reading Average
0,District,7,26976,"$17,347,923",76.99%,80.96%,78.97%,66.52%,80.91%
1,Charter,8,12194,"$7,301,505",83.41%,83.90%,83.65%,93.70%,96.65%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [4]:
def school_stats(school_list):
    
    # School Name
    # School Type
    # Total Students
    # Total School Budget
    # Per Student Budget
    # Average Math Score
    # Average Reading Score
    # % Passing Math
    # % Passing Reading
    # Overall Passing Rate (Average of the above two)
    # Create a dataframe to hold the above results
    
    school_name = school_list[0]

    school_data = school_list[1]

    school_type = school_data.iloc[0]['type']
    
    total_students = school_data['Student ID'].count()
    
    school_budget = school_data.iloc[0]['budget']
    per_student_budget = school_budget/total_students
    
    average_math_score = school_data['math_score'].mean()
    average_reading_score = school_data['reading_score'].mean()
    
    num_passing_math = (school_data['math_score'] >= 70).sum()
    percent_passing_math = num_passing_math/total_students*100
    
    num_passing_reading = (school_data['reading_score'] >= 70).sum()
    percent_passing_reading = num_passing_reading/total_students*100
    
    overall_passing_rate = (num_passing_math + num_passing_reading) / 2 / total_students * 100
    
    results = pd.DataFrame([{"School Name" : school_name,
                            "School Type" : school_type,
                            "Total Students" : total_students,
                            "Total School Budget" : school_budget,
                            "Per Student Budget" : per_student_budget,
                            "Average Math Score" : average_math_score,
                            "Average Reading Score" : average_reading_score,
                            "% Passing Math" : percent_passing_math,
                            "% Passing Reading" : percent_passing_reading,
                            "Overall Passing Rate" : overall_passing_rate
                            }])

    return results

In [5]:
# Create an overview table that summarizes key metrics about each school, including:


school_df = school_data_complete.groupby(['school_name'])
num_students = school_df['school_name'].count()
num_schools = school_df['school_name'].nunique().size

# print(num_schools)
school_stats_df = pd.DataFrame()
one_school_stats_df = pd.DataFrame()
for i in range(0, num_schools):
    one_school_stats_df = school_stats(list(school_df)[i])
    school_stats_df = pd.concat([school_stats_df, one_school_stats_df], ignore_index=True)

# order the columns
school_stats_df = school_stats_df[['School Name',
                    'School Type',
                    'Total Students',
                    'Total School Budget',
                    'Per Student Budget',
                    'Average Math Score',
                    'Average Reading Score',
                    '% Passing Math',
                    '% Passing Reading',
                    'Overall Passing Rate']]

# Use Map to format all the columns
school_stats_df["Total School Budget"] = school_stats_df["Total School Budget"].map("${:,.0f}".format)
school_stats_df["Per Student Budget"] = school_stats_df["Per Student Budget"].map("${:,.0f}".format)
school_stats_df["Average Math Score"] = school_stats_df["Average Math Score"].map("{:.2f}%".format)
school_stats_df["Average Reading Score"] = school_stats_df["Average Reading Score"].map("{:.2f}%".format)
school_stats_df["% Passing Math"] = school_stats_df["% Passing Math"].map("{:.2f}%".format)
school_stats_df["% Passing Reading"] = school_stats_df["% Passing Reading"].map("{:.2f}%".format)
school_stats_df["Overall Passing Rate"] = school_stats_df["Overall Passing Rate"].map("{:.2f}%".format)

school_stats_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Bailey High School,District,4976,"$3,124,928",$628,77.05%,81.03%,66.68%,81.93%,74.31%
1,Cabrera High School,Charter,1858,"$1,081,356",$582,83.06%,83.98%,94.13%,97.04%,95.59%
2,Figueroa High School,District,2949,"$1,884,411",$639,76.71%,81.16%,65.99%,80.74%,73.36%
3,Ford High School,District,2739,"$1,763,916",$644,77.10%,80.75%,68.31%,79.30%,73.80%
4,Griffin High School,Charter,1468,"$917,500",$625,83.35%,83.82%,93.39%,97.14%,95.27%
5,Hernandez High School,District,4635,"$3,022,020",$652,77.29%,80.93%,66.75%,80.86%,73.81%
6,Holden High School,Charter,427,"$248,087",$581,83.80%,83.81%,92.51%,96.25%,94.38%
7,Huang High School,District,2917,"$1,910,635",$655,76.63%,81.18%,65.68%,81.32%,73.50%
8,Johnson High School,District,4761,"$3,094,650",$650,77.07%,80.97%,66.06%,81.22%,73.64%
9,Pena High School,Charter,962,"$585,858",$609,83.84%,84.04%,94.59%,95.95%,95.27%
10,Rodriguez High School,District,3999,"$2,547,363",$637,76.84%,80.74%,66.37%,80.22%,73.29%
11,Shelton High School,Charter,1761,"$1,056,600",$600,83.36%,83.73%,93.87%,95.85%,94.86%
12,Thomas High School,Charter,1635,"$1,043,130",$638,83.42%,83.85%,93.27%,97.31%,95.29%
13,Wilson High School,Charter,2283,"$1,319,574",$578,83.27%,83.99%,93.87%,96.54%,95.20%
14,Wright High School,Charter,1800,"$1,049,400",$583,83.68%,83.95%,93.33%,96.61%,94.97%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [6]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [7]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.